ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
}

li {
    float: left;
    border-right: 1px solid #bbb
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: darkgrey;
}

li:last-child {
    border-right: none;
}

.active {
    background-color: cyan;
    color: white;
}

* {
    margin: 0; 
    padding: 0;
}

body{
    background-image: url("fondsiteport.jpg");
    background-attachment: fixed;

}


/*----------------------------------------------------------------------------------*/


