@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
header ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
    display : flex;
    justify-content: center;
    
}

header {
 margin: 1vw;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
header li a:hover {
    border-radius: 10px;
    background-color: grey; /* Old browsers */
    border-right: none;
}

header .active {
    border-radius: 10px;
    background-color: mediumslateblue;
    color: white;
}

* {
    margin: 0; 
    padding: 0;
}

body{
    background-color:white; 
    font-family: 'Open Sans', sans-serif;
}

#info-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vw;
}

h1{
    margin-top: 2vw;
    text-align: center;
}

#contact-block{
    margin-top: 2vw;
    background-color: mediumslateblue;
    padding: 5%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
}

img{
    width:100px;
}