@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
header ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
    display : flex;
    justify-content: center;
    
}

header {
 margin: 1vw;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
header li a:hover {
    border-radius: 10px;
    background-color: grey; /* Old browsers */
    border-right: none;
}

header .active {
    border-radius: 10px;
    background-color: mediumslateblue;
    color: white;
}

body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    
}

    .container {
    max-width: 860px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }
  
  header > h1 {
    margin-top: 0;
    font-family: 'Catamaran', sans-serif;
    font-size: 2.5rem;
    border-bottom: 1px solid #eee;
  }
  
  .gallery {
    display: grid;
    align-items: center;
    margin: 3em 0;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 1em;
    grid-auto-flow: dense;
  }
  
  figure {
    display: flex;
    margin: 0;
  }
  
  img {
    flex: 1;
    max-width: 100%;
    object-fit: cover;
    border : 1px solid rgb(236, 236, 236);
  }

  img:hover {
    opacity: 0.6;
  }

  embed{
    display: none;
  }

  

  :target{
    display: flex;
    flex-direction: column;
    font: 1.5em/1.5 sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  :target > a{
    display: flex;
    justify-content: center;
    color: black;
  }

  div > a{
    display: none;
  }

  :target > embed{
    display: flex;
    height: 100%;
    width: 100%;

  }

  @media screen and (max-width: 1000px) {
    
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    :target > embed{
      display: flex;
      height: 60%;
      width: 100%;
  
    }
  }

  