header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
}

header li {
    float: left;
    border-right: 1px solid #bbb
}

header li a {
    display: block;
    color: black;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
header li a:hover {
    background-color: darkgrey;
    border-right: none;
}

.active {
    background-color: cyan;
    color: white;
}

* {
    margin: 0; 
    padding: 0;
}



/*----------------------------------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../image/fondsiteport.jpg");
  background-attachment: fixed;
}
.container ul {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px 300px;
  color: #fff;
  font-size: 13px;
}
.container ul li {
  position: relative;
  margin-left: 30px ;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 250px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08)
}
.container ul li:not(:first-child) {
  margin-top: 60px;
}
.container ul li > span {
  width: 2px;
  height: 100%;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}
.container ul li > span:before, .container ul li > span:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #86b7e7;
  left: -5px;
  top: 0;
}
.container ul li span:after {
  top: 100%;
}
.container ul li > div {
  margin-left: 10px;  
}
.container div .title, .container div .type {
  font-weight: 600;
  font-size: 12px;
}
.container div .info {
  font-weight: 300;
}
.container div > div {
  margin-top: 5px;
}
.container span.number {
  height: 100%;
}
.container span.number span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}
.container span.number span:first-child {
  top: 0;
}
.container span.number span:last-child {
  top: 100%;
}