@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
header  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
}

li {
    float: left;
    border-right: 1px solid #bbb
}

li a {
    display: block;
    color: black;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: darkgrey;
}

li:last-child {
    border-right: none;
}

.active {
    background-color: cyan;
    color: white;
}

body{
    background-image: url("../image/fondsiteport.jpg");
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;

}

* {
    margin: 0; 
    padding: 0;
}

h1{
    color: white;

}

#prenom{
    width: 300px; 
    height: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 50px;
    background-color: darkcyan;
}

#presentation{
    width: 300px;   
    height: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
    border-radius: 50px;
    background-color: darkcyan;
}

#vide{
    width: 250px; 
    margin: 50px;
    padding: 50px;
}

#ligne1{
    display: flex;
}

#ligne2{
    display: flex;
}

img{
    height: 350px;

}